Label mails.json
{
  "name": "Label mails",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        304,
        640
      ],
      "id": "4f8e50f2-6f2d-4eb1-b951-90648ea76d0f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "0mOedgMo7PG5SYTR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo-preview",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo-preview"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        848
      ],
      "id": "61a05804-0ecb-4a03-a3de-0960d5525e1d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UR2k7NrZW8Y6Hb7m",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Ton objectif est de catégoriser le message à partir des labels ci-dessous : \n\nPub - le message évoque une promotion sur un produit\nLead - le message évoque une question sur les services de mon entreprise\nFamille - le message n'est pas du type professionnel, plutôt personnel\n\nUn email peut avoir plus d'un label. Retourne uniquement les noms des labels au format JSON. N'inventes pas de choses"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        528,
        640
      ],
      "id": "6008f4ff-86bc-4eab-bd7a-9f1022e1b22e",
      "name": "Basic LLM Chain",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"labels\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\"Pub\", \"Lead\", \"Famille\"]\n      }\n    }\n  },\n  \"required\": [\"labels\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        752,
        864
      ],
      "id": "c7e83e80-743e-40d5-9182-07c28fbabf0f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4973428046221692983"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        640
      ],
      "id": "b0d4bdd7-39c2-49d4-8244-4d54de7008a5",
      "name": "Add label to message",
      "webhookId": "ff2e6540-603e-4fae-b49b-d4ac3d957e05",
      "credentials": {
        "gmailOAuth2": {
          "id": "0mOedgMo7PG5SYTR",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "74bfab28-2fed-4d4a-989b-16185d4a1277",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95282b176ffb96e1a818a8a0771cfb14ee4fe22926464ec06510714de4dc7cc7"
  },
  "id": "x9BQyUBSUmOLRml4",
  "tags": []
}